// Spacing helpers
// ================

.u-sectionPad {
  padding: 3rem 0 3.5rem;
  @include breakpoint(medium) {
    padding: 6rem 0 7rem;
  }
}

.u-sectionPadTop {
  padding: 3rem 0 0;
  @include breakpoint(medium) {
    padding: 6rem 0 0;
  }
}

.u-sectionPadBottom {
  padding: 0 0 3.5rem;
  @include breakpoint(medium) {
    padding: 0 0 7rem;
  }
}